In [1]:
import pandas as pd

In [2]:
# Set Pandas options for wrapping
pd.set_option('display.max_columns', None)   # Show all columns
pd.set_option('display.width', 100)          # Set line width before wrapping
pd.set_option('display.max_colwidth', None)  # Don't truncate text

In [3]:
from pydataset import data
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
type(mtcars)

pandas.core.frame.DataFrame

In [6]:
pd.DataFrame.head

In [7]:
mtcars.head(n=3)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [9]:
type(mtcars)  #tye of objt

pandas.core.frame.DataFrame

In [10]:
mtcars.shape

(32, 11)

In [11]:
mtcars.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [13]:
mtcars.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

mtcars.index

In [16]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

#REad// write to csv

In [17]:
mtcars.to_csv('mtcarsdata.csv',index=False)

In [20]:
mtcars2 = pd.read_csv('mtcarsdata.csv')
mtcars2.head(2)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [21]:
mtcars.to_excel('mtcarsdata2.xlsx', index=False, startrow=0)
# index - rownames get stored if index -T

In [22]:
mtcars3 = pd.read_excel('mtcarsdata2.xlsx', sheet_name=0)
mtcars3.head(5)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [26]:
mtcars.isnull()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False
Valiant,False,False,False,False,False,False,False,False,False,False,False
Duster 360,False,False,False,False,False,False,False,False,False,False,False
Merc 240D,False,False,False,False,False,False,False,False,False,False,False
Merc 230,False,False,False,False,False,False,False,False,False,False,False
Merc 280,False,False,False,False,False,False,False,False,False,False,False
Merc 280C,False,False,False,False,False,False,False,False,False,False,False
Merc 450SE,False,False,False,False,False,False,False,False,False,False,False
Merc 450SL,False,False,False,False,False,False,False,False,False,False,False
Merc 450SLC,False,False,False,False,False,False,False,False,False,False,False
Cadillac Fleetwood,False,False,False,False,False,False,False,False,False,False,False
Lincoln Continental,False,False,False,False,False,False,False,False,False,False,False
Chrysler Imperial,False,False,False,False,False,False,False,False,False,False,False
Fiat 128,False,False,False,False,False,False,False,False,False,False,False
Honda Civic,False,False,False,False,False,False,False,False,False,False,False
Toyota Corolla,False,False,False,False,False,False,False,False,False,False,False
Toyota Corona,False,False,False,False,False,False,False,False,False,False,False
Dodge Challenger,False,False,False,False,False,False,False,False,False,False,False
AMC Javelin,False,False,False,False,False,False,False,False,False,False,False
Camaro Z28,False,False,False,False,False,False,False,False,False,False,False
Pontiac Firebird,False,False,False,False,False,False,False,False,False,False,False
Fiat X1-9,False,False,False,False,False,False,False,False,False,False,False
Porsche 914-2,False,False,False,False,False,False,False,False,False,False,False
Lotus Europa,False,False,False,False,False,False,False,False,False,False,False
Ford Pantera L,False,False,False,False,False,False,False,False,False,False,False
Ferrari Dino,False,False,False,False,False,False,False,False,False,False,False
Maserati Bora,False,False,False,False,False,False,False,False,False,False,False
Volvo 142E,False,False,False,False,False,False,False,False,False,False,False

In [27]:
mtcars.duplicated().sum()

0

In [28]:
mtcars.duplicated(subset = ['gear','am','cyl','carb']).sum()

18

In [29]:
mtcars[mtcars.duplicated(subset = ['gear','am','cyl','carb'], keep=False)].sort_values(by=['gear','am','cyl','carb'])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2

In [30]:
mtcars[~ mtcars.duplicated(subset = ['gear','am','cyl','carb'], keep=False)].sort_values(by=['gear','am','cyl','carb'])

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Toyota Corona   21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8

In [34]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index' :'car'})
mtcars2.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [36]:
mtcars2[mtcars2['car'] == 'Mazda RX4']

         car   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [40]:
import numpy as np
import pandas as pd
import random

In [44]:
rollna = list['1','2','3','4','5']
print(rollna)

list['1', '2', '3', '4', '5']

In [45]:
sname = ("salah","meena","mandol","suroor","rahman")
print(sname)

('salah', 'meena', 'mandol', 'suroor', 'rahman')